<loader [active]="isActive"></loader>
<div class="container">
    <h1 class="text-center">Спеціальності</h1>
    <div class="row">
        <div class="col-12">
            <button type="button" (click)="createSpecialtyModal.show()"  class="btn btn-primary pull-right">Створити спеціальність</button>
        </div>
        <div class="col-12 table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="tr">
                        <td class="td">#</td>
                        <td class="td">Назва</td>
                        <td class="td">Факультет</td>
                        <td class="td">Редагувати</td>
                        <td class="td">Видалити</td>
                    </tr>
                </thead>
                <tbody *ngIf="specialties && specialties.length">
                    <tr class="specialty-row"
                        *ngFor="let specialty of specialties"
                        [faculties] ="faculties"
                        [specialty]="specialty"
                        (deleteSpecialty) = "onDeleteSpecialty($event)">
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <button type="button" (click)="createSpecialtyModal.show()" class="btn btn-primary pull-right">Створити спеціальність</button>
        </div>
    </div>
</div>

<div class="modal" bsModal #createSpecialtyModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Створення факультету</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="createSpecialtyModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form  #ngModelForm="ngForm" (submit)="createSpecialty()">
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Назва</label>
                            <div class="col-sm-10">
                                <input name="name" [(ngModel)]="specialty.name" required minlength="3" maxlength="500" type="text" class="form-control" id="name" placeholder="Назва">
                            </div>
                        </div>
                        <div class="form-group row">

                            <label for="faculty" class="col-sm-2 col-form-label">Факультет</label>
                            <div class="col-sm-10">
                                <select required="required" [(ngModel)]="specialty.faculty.id" id="faculty" name="faculty" class="form-control">
                                    <option value="">Виберіть факультет</option>
                                    <ng-container *ngFor="let faculty of faculties">
                                        <option class="faculty-row" value="{{faculty.id}}">{{faculty.shortName}}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Зберегти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>