<loader [active]="isActive"></loader>
<div class="container">
    <h1 class="text-center">Студенти</h1>
    <div class="row">
        <div class="col-12">
            <button type="button" (click)="createStudentModal.show()" class="btn btn-primary pull-right">
                Створити студента
            </button>
        </div>
        <div class="col-12 table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="tr">
                        <td class="td">#</td>
                        <td class="td">ПІБ</td>
                        <td>Група</td>
                        <td>Період</td>
                        <td>Оцінка</td>
                        <td>Фотографія</td>
                        <td>isRoot</td>
                        <td>Редагування</td>
                        <td>Видалення</td>
                    </tr>
                </thead>


                <tbody *ngIf="students && students.length">
                    <ng-container  *ngFor="let student of students">
                        <tr class="student-row parent"
                            *ngIf="student.isShow === true"
                            [student]="student"
                            [studentsRoot]="studentsRoot"
                            (deleteStudent) = "onDeleteStudent($event)"
                            (editStudent) = "onEditStudent($event)"
                        >
                        </tr>

                        <ng-container  *ngFor="let child of student.children">
                            <tr class="student-row child"
                                [student]="child"
                                [isChild]="true"
                                [studentsRoot]="studentsRoot"
                                (deleteStudent) = "onDeleteStudent($event)"
                                (editStudent) = "onEditStudent($event)"

                            >
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <button type="button" (click)="createStudentModal.show()" class="btn btn-primary pull-right">
                Створити студента
            </button>
        </div>
    </div>
</div>

<div class="modal" bsModal #createStudentModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Створення факультету</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="createStudentModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form #ngModelForm="ngForm"
                          (submit)="createStudent(ngModelForm)"
                          enctype="multipart/form-data"
                    >
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">ПІБ</label>
                            <div class="col-sm-10">
                                <input name="name" [(ngModel)]="student.name" required minlength="3" maxlength="500"
                                       type="text" class="form-control" id="name" placeholder="Назва">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="isRoot" class="col-sm-2 col-form-label">Is Root Student?</label>
                            <div class="col-sm-10">
                                <select required="required" [(ngModel)]="student.isRoot" id="isRoot"
                                        name="faculty" class="form-control">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>
                        <ng-container *ngIf="!isRootStudent(student)">
                            <div class="form-group row">

                                <label for="student" class="col-sm-2 col-form-label">Група</label>
                                <div class="col-sm-10">
                                    <select required="required" [(ngModel)]="student.group.id" id="student"
                                            name="faculty" class="form-control">
                                        <option value="">----Виберіть Групу----</option>
                                        <ng-container *ngFor="let group of groups">
                                            <option value="{{group.id}}">{{group.name}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">

                                <label for="period" class="col-sm-2 col-form-label">Cеместр</label>
                                <div class="col-sm-10">
                                    <select required="required" [(ngModel)]="student.period.id" id="period"
                                            name="faculty" class="form-control">
                                        <option value="">----Виберіть семестр----</option>
                                        <ng-container *ngFor="let period of periods">
                                            <option value="{{period.id}}">{{period.name}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="parent" class="col-sm-2 col-form-label">Root student</label>
                                <div class="col-sm-10">
                                    <select required="required" [(ngModel)]="student.parent.id" id="parent"
                                            name="parent" class="form-control">
                                        <option value="">----Виберіть Root студента----</option>
                                        <ng-container *ngFor="let student of studentsRoot">
                                            <option value="{{student.id}}">{{student.name}}</option>
                                        </ng-container>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="rating" class="col-sm-2 col-form-label">Оцінка</label>
                                <div class="col-sm-10">
                                    <input name="rating"
                                           required
                                           type="text"
                                           class="form-control"
                                           id="rating"
                                           placeholder="Оцінка"
                                           [(ngModel)]="student.rating"
                                           pattern="^\d{1,3}(\.\d{1,2})?$"
                                    >
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="isRootStudent(student)">
                            <div class="form-group row">
                                <label for="img" class="col-sm-2 col-form-label">Фотографії</label>
                                <div class="col-sm-10">
                                    <input name="rating"
                                           type="text"
                                           class="form-control"
                                           id="img"
                                           placeholder="Юрл для фотографії"
                                           [(ngModel)]="student.img"
                                    />
                                </div>
                            </div>
                        </ng-container>
                        <button type="submit" class="btn btn-primary">Зберегти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>