.add-period-button{
    cursor: pointer;
}

.list-group-item{
    padding: 0;
}

.list-group-item a{
    display: block;
    width: 100%;
    padding: 10px;
}

.list-group-item:nth-child(odd){
    background: #eee;
}

img{
    max-width: 150px;
    margin: 0 auto;
}