<loader [active]="loading"></loader>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        <div class="card card-outline-primary mb-3 text-center">
            <a [routerLink]="['/faculties']" class="card-block">
                Факультети
            </a>

        </div>
        <div class="card card-outline-primary mb-3 text-center">
            <a [routerLink]="['/specialty']" class="card-block">
                Спеціальності
            </a>
        </div>
        <div class="card card-outline-primary mb-3 text-center">
            <a [routerLink]="['/groups']" class="card-block">
                Групи
            </a>
        </div>
        <div class="card card-outline-primary mb-3 text-center">
            <a [routerLink]="['/student']" class="card-block">
                Студенти
            </a>
        </div>

        <div class="card card-outline-info mb-3 text-center">
            <a [routerLink]="['/halloffame']" class="card-block">
                Переглянути Зал Слави
            </a>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <form class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input [(ngModel)]="newPeriod" name="newPeriod" required id="newPeriod" type="text" class="form-control" placeholder="Назва семестру" #ngModelNewPeriod="ngModel">
            <div (click)="onCreatePeriod(ngModelNewPeriod)" class="btn btn-primary" class="input-group-addon add-period-button" >Добавити семестр</div>
        </form>
        <ul *ngIf='periods && periods.length' class="list-group">
            <li *ngFor="let period of periods" class="list-group-item">
                <a [routerLink]='["/period/" + period.id ]'>{{period.name}}</a>
            </li>
        </ul>

        <div class="modal" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
             tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">Помилка</h4>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">Будь ласка, дайте назву новому семестру</div>
                </div>
            </div>
        </div>
    </div>
</div>




