<ng-container *ngIf="!editMode">
    <td>{{specialty.id}}</td>
    <td>{{specialty.name}}</td>
    <td>{{specialty.faculty.shortName}}</td>
    <td (click)="changeMode()" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></td>
    <td (click)="onDeleteFaculty()" class="delete"><i class="fa fa-times" aria-hidden="true"></i></td>
</ng-container>
<ng-container *ngIf="editMode">
    <td>{{specialty.id}}</td>
    <td><input class="form-control" required minlength="3" maxlength="500" type="text" [(ngModel)]="specialty.name"/></td>
    <td>
        <select required="required" [(ngModel)]="specialty.faculty.id" id="faculty" name="faculty" class="form-control">
            <option value="">Виберіть факультет</option>
            <ng-container *ngFor="let faculty of faculties">
                <option [value]="faculty.id">{{faculty.shortName}}</option>
            </ng-container>
        </select>
    </td>
    <td (click)="edit()" class="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i></td>
    <td (click)="onDeleteFaculty()" class="delete"><i class="fa fa-times" aria-hidden="true"></i></td>
</ng-container>
<loader *ngIf="isActive"
        [active]="isActive">
</loader>