<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('node_modules/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('app/app.component.css') }}" rel="stylesheet" />

        <!-- Polyfill(s) for older browsers hkjhkj-->
        <script src="{{ asset('node_modules/core-js/client/shim.min.js') }}"></script>


        <script src="{{ asset('node_modules/zone.js/dist/zone.js') }}"></script>
        <script src="{{ asset('node_modules/reflect-metadata/Reflect.js') }}"></script>
        <script src="{{ asset('node_modules/systemjs/dist/system.src.js') }}"></script>
        <!-- Configure SystemJS -->
        <script src="{{ asset('systemjs.config.js') }}"></script>
        <script>
            System.import('app').catch(function(err){ console.error(err); alert(1)});
        </script>
        {#<link rel="stylesheet" href="{{ asset('css/start.css') }}" />#}
    </head>
    <body>


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}


        <pm-app>Loading App...</pm-app>
        {# ... #}

        {#<script src="{{ asset('js/jquery.min.js') }}"></script>#}
    </body>
</html>
