nav {
    background: black !important;
}

.wrapper-cart {
    padding: 10px;
}

.cart {
    background: white;
    height: 100%;
    padding: 0 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: relative;
}

.cart img {
    background: white;
    width: 100%;
    border-bottom: 5px solid black;
}

.cart .student-name {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #666;
    display: block;
}

.info-wrapper {
    padding: 2px;
    font-size: 0.8em;
}
.student-group{
    display: block;
    text-align: center;
}

.rating{
    position: absolute;
    top: 5px;
    left:5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: deeppink;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.rating span{
    padding-top: 12px;
    display: block;
}