<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/halloffame']">Найкращі студенти ЖДТУ</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <select required="required"
                    id="faculty"
                    [(ngModel)]="selectedPeriodId"
                    name="period"
                    class="form-control"
                    (change)="changePeriod($event)"
            >
                <ng-container *ngFor="let period of periods">
                    <option class="faculty-row" value="{{period.id}}">{{period.name}}</option>
                </ng-container>
            </select>
        </form>
    </div>
</nav>
<ng-container *ngIf="faculties.length">
    <ng-container
            *ngFor="let faculty of faculties">
        <ng-container *ngIf="period.getSheetsRatingId(faculty.id)">
            <h2>{{faculty.name}}</h2>
            <period-subject-rating-list
                    [period]="period"
                    [faculty]="faculty"
                    [ratingSheetIds]="period.getSheetsRatingId(faculty.id)"
                    [isPrivate]=false
            >
            </period-subject-rating-list>
        </ng-container>
    </ng-container>
</ng-container>

<div class="container content">
    <div class="row">
        <ng-container *ngFor="let student of period.students">
            <div class="wrapper-cart col-6 col-sm-6 col-md-4 col-lg-2">
                <div class="cart">
                    <img src="./app/components/hall-of-fame/assests/person.png">
                    <div class="info-wrapper">
                        <span class="student-name">{{student.name}}</span>
                        <span class="student-group">Група {{student.group.name}}</span>
                    </div>
                    <div class="rating">
                        <span>{{student.rating}}</span>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>