<loader [active]="isActive"></loader>
<period-layout
        [disable]="true">
    <div class="card card-inverse" style="background-color: #333; border-color: #333;">
        <div class="card-block">
            <h3 class="card-title">Оберіть факультет:</h3>
            <div class="form-group">
                <select [(ngModel)]="facultyId" class="form-control">
                    <ng-container *ngFor="let faculty of faculties">
                        <option [value]="faculty.id">{{faculty.shortName}}</option>
                    </ng-container>
                </select>
            </div>
            <a [routerLink]='["./faculty/"+facultyId+"/db"]' href="#" class="btn btn-primary">Продовжити</a>
        </div>
    </div>
</period-layout>