<loader [active]="isActive"></loader>
<button
        class="btn btn-primary"
        *ngIf="!googleSheets || showButton"
        (click)="createGroupsSheets()">
    {{createSheetsButtonName}}
</button>


<div *ngIf="googleSheets">
    <div *ngIf="editMode">
        <a target="_blank"
           href="https://docs.google.com/spreadsheets/d/{{googleSheets}}">
            https://docs.google.com/spreadsheets/d/{{googleSheets}}/
        </a>
        <iframe [src]="'https://docs.google.com/spreadsheets/d/'+googleSheets+'/edit?widget=true&amp;headers=false' | safe">

        </iframe>
    </div>
    <div *ngIf="!editMode">
        <iframe [src]="'https://docs.google.com/spreadsheets/d/'+googleSheets+'/pubhtml?widget=true&amp;headers=false' | safe">

        </iframe>
    </div>
</div>