<loader [active]="isActive"></loader>
<div class="container">
    <h1 class="text-center">Факультети</h1>
    <div class="row">
        <div class="col-12">
            <button type="button" (click)="createFacultyModal.show()" class="btn btn-primary pull-right">Добавити факультет</button>
        </div>
        <div class="col-12 table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="tr">
                        <td>#</td>
                        <td>Назва</td>
                        <td>Коротка назва</td>
                        <td>Редагувати</td>
                        <td>Видалити</td>
                    </tr>
                </thead>
                <tbody *ngIf="faculties && faculties.length">
                    <tr class="faculty-row"
                        *ngFor="let faculty of faculties"
                        [faculty]="faculty"
                        (deleteFaculty) ="onDeleteFaculty($event)"></tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <button type="button" (click)="createFacultyModal.show()" class="btn btn-primary pull-right">Добавити факультет</button>
        </div>
    </div>
</div>

<div class="modal" bsModal #createFacultyModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Створення факультету</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="createFacultyModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form  #ngModelForm="ngForm" (submit)="onCreateFaculty(ngModelForm)">
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Назва</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="faculty.name" name="name" required minlength="3" maxlength="500" type="text" class="form-control" id="name" placeholder="Назва">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="shortName" class="col-sm-2 col-form-label">Коротка назва</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="faculty.shortName" required minlength="3" maxlength="500" name="shortName" type="text" class="form-control" id="shortName" placeholder="Коротка назва">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Зберегти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>