<ng-container *ngIf="!editMode">
    <td>{{group.id}}</td>
    <td>{{group.name}}</td>
    <td>{{group.specialty.name}}</td>
    <td>{{group.startYear}}</td>
    <td>{{findGroupNameByValue(group.groupType)}}</td>
    <td (click)="changeMode()" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></td>
    <td (click)="onDeleteGroup()" class="delete"><i class="fa fa-times" aria-hidden="true"></i></td>
</ng-container>
<ng-container *ngIf="editMode">
    <td>{{group.id}}</td>
    <td><input class="form-control" required minlength="3" maxlength="500" type="text" [(ngModel)]="group.name"/></td>
    <td>
        <select required="required" [(ngModel)]="group.specialty.id" id="faculty" name="faculty" class="form-control">
            <option value="">Виберіть спеціальність</option>
            <ng-container *ngFor="let specialty of specialties">
                <option [value]="specialty.id">{{specialty.name}}</option>
            </ng-container>
        </select>
    </td>
    <td>
        <select required="required" [(ngModel)]="group.startYear" id="startYear"
                name="startYear" class="form-control">
            <option value="">Виберіть рік початку навчання</option>
            <ng-container *ngFor="let year of yearList">
                <option class="faculty-row" value="{{year}}">{{year}}</option>
            </ng-container>
        </select>
    </td>
    <td>
        <select required="required" [(ngModel)]="group.groupType" id="groupType"
                name="groupType" class="form-control">
            <option value="">Виберіть тип групи</option>
            <ng-container *ngFor="let type of groupTypes">
                <option class="faculty-row" value="{{type.value}}">{{type.name}}</option>
            </ng-container>
        </select>
    </td>
    <td (click)="edit()" class="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i></td>
    <td (click)="onDeleteGroup()" class="delete"><i class="fa fa-times" aria-hidden="true"></i></td>
</ng-container>
<loader *ngIf="isActive"
        [active]="isActive">

</loader>