li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large; 
}

.navbar {
    margin: 0;
    background: #ccc;
    position: fixed;
    z-index: 1000000;
    right: 0;
    left: 0;
    top: 0;
}
.container{
    margin: 54px 0 0 0;
    width: 100%;
    padding: 10px;
}

body,html{
    background: #ccc;
}