.loader-wrapper{
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.5);
    z-index: 1000000;
    width: 100%;
    height:100%;
}
.loader-wrapper img{
    position: relative;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    bottom: 50px;
    top: 50%;
    margin-top: -100px;
}

