<loader [active]="isActive"></loader>
<div class="container">
    <h1 class="text-center">Групи</h1>
    <div class="row">
        <div class="col-12">
            <button type="button" (click)="createGroupModal.show()" class="btn btn-primary pull-right">Добавити групу
            </button>
        </div>
        <div class="col-12 table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="tr">
                        <td>#</td>
                        <td>Назва</td>
                        <td>Спеціальність</td>
                        <td>Рік початку навчання</td>
                        <td>Тип Бакалавр / Магістр</td>
                        <td>Редагувати</td>
                        <td>Видалити</td>
                    </tr>
                </thead>
                <tbody *ngIf="groups && groups.length">
                    <tr class="group-row"
                        *ngFor="let group of groups"
                        [group]="group"
                        [specialties]="specialties"
                        [yearList]="yearList"
                        [groupTypes]="groupTypes"
                        (deleteGroup)="onDeleteGroup($event)"
                    >

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <button type="button" (click)="createGroupModal.show()" class="btn btn-primary pull-right">Добавити Групу
            </button>
        </div>
    </div>
</div>

<div class="modal" bsModal #createGroupModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Створення групи</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="createGroupModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form #ngModelForm="ngForm" (submit)="onCreateGroup(ngModelForm)">
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Назва</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="group.name" name="name" required minlength="3" maxlength="500"
                                       type="text" class="form-control" id="name" placeholder="Назва">
                            </div>
                        </div>
                        <div class="form-group row">

                            <label for="specialty" class="col-sm-2 col-form-label">Спеціальність</label>
                            <div class="col-sm-10">
                                <select required="required" [(ngModel)]="group.specialty.id" id="specialty"
                                        name="specialty" class="form-control">
                                    <option value="">Виберіть спеціальність</option>
                                    <ng-container *ngFor="let specialty of specialties">
                                        <option class="faculty-row" value="{{specialty.id}}">{{specialty.name}}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">

                            <label for="startYear" class="col-sm-2 col-form-label">Рік початку навчання</label>
                            <div class="col-sm-10">
                                <select required="required" [(ngModel)]="group.startYear" id="startYear"
                                        name="startYear" class="form-control">
                                    <option>Виберіть рік початку навчання</option>
                                    <ng-container *ngFor="let year of yearList">
                                        <option class="faculty-row" value="{{year}}">{{year}}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="groupType" class="col-sm-2 col-form-label">Тип групи</label>
                            <div class="col-sm-10">
                                <select required="required" [(ngModel)]="group.groupType" id="groupType"
                                        name="groupType" class="form-control">
                                    <option value="">Виберіть тип групи</option>
                                    <ng-container *ngFor="let type of groupTypes">
                                        <option class="faculty-row" value="{{type.value}}">{{type.name}}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Зберегти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>