<loader [active]="isActive"></loader>
<ng-container *ngIf="isPrivate">
    <period-layout
            (loadPeriod)="onLoadPeriod($event)"
            (loadFaculty)="onLoadFaculty($event)"
            [activeTab]="1">


        <a *ngIf="!ratingSheetIds"
           href="javascript:null"
           (click)="createSubjectRatingList()"
           class="btn btn-primary create-data">
            Згенерувати онлайн відомості
        </a>
        <div *ngIf="ratingSheetIds"
             class="card text-center">
            <ng-container *ngIf="ratingSheetIds">
                <button *ngIf="isPrivate"
                        class="btn btn-primary"
                        (click)="createResultRatingSheets()">
                    Створити зведену відомість
                </button>
            </ng-container>

            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs groups-ul">
                    <li *ngFor="let group of ratingSheetIds" class="nav-item">
                        <a class="nav-link"
                           [ngClass]="{'active': group===activeGroup }"
                           (click)="changeActiveGroup(group)">
                            {{group.group_name}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-block">
                <div class="card text-center"
                     *ngIf="activeGroup">
                    <div class="card-header">
                        <ul *ngIf="activeGroup " class="nav nav-tabs card-header-tabs">
                            <li *ngFor="let subject of activeGroup.group_subjects" class="nav-item">
                                <a class="nav-link"
                                   [ngClass]="{'active': subject===activeSubject }"
                                   (click)="changeActiveSubject(subject)">
                                    {{subject.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-block">
                        <div *ngIf="activeSubject">
                            <google-sheets [googleSheets]="activeSubject.sheetId"></google-sheets>
                        </div>
                    </div>
                </div>
                <div *ngIf="activeGroup && activeGroup.result_rating" class="card text-center">
                    <div class="card-header">
                        <h2>Зведена онлайн відомість</h2>
                    </div>
                    <div class="card-block">
                        <google-sheets
                                *ngIf="activeGroup.result_rating"
                                [googleSheets]="activeGroup.result_rating">

                        </google-sheets>
                    </div>
                </div>
            </div>
        </div>
    </period-layout>
</ng-container>
<ng-container *ngIf="!isPrivate">
    <div *ngIf="ratingSheetIds"
         class="card text-center">

        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs groups-ul">
                <li *ngFor="let group of ratingSheetIds" class="nav-item">
                    <a class="nav-link"
                       [ngClass]="{'active': group===activeGroup }"
                       (click)="changeActiveGroup(group)">
                        {{group.group_name}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-block">
            <div class="card text-center"
                 *ngIf="activeGroup">
                <div class="card-header">
                    <ul *ngIf="activeGroup " class="nav nav-tabs card-header-tabs">
                        <li *ngFor="let subject of activeGroup.group_subjects" class="nav-item">
                            <a class="nav-link"
                               [ngClass]="{'active': subject===activeSubject }"
                               (click)="changeActiveSubject(subject)">
                                {{subject.name}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-block">
                    <div *ngIf="activeSubject">
                        <google-sheets [googleSheets]="activeSubject.sheetId"></google-sheets>
                    </div>
                </div>
            </div>
            <div *ngIf="activeGroup && activeGroup.result_rating" class="card text-center">
                <div class="card-header">
                    <h2>Зведена онлайн відомість</h2>
                </div>
                <div class="card-block">
                    <google-sheets
                            *ngIf="activeGroup.result_rating"
                            [googleSheets]="activeGroup.result_rating">

                    </google-sheets>
                </div>
            </div>
        </div>
    </div>
</ng-container>