
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <span>
                    <a [routerLink]='["/period/"+id + "/"]' href="#">{{faculty.shortName}} | {{period.name}}</a>
                </span>
            </li>
            <li>
                <a [ngClass]="{'active': activeTab==0 }" [routerLink]='["/period/"+id + "/faculty/" +facultyId + "/db"]' href="#">Заповніть Google sheets DB</a>
                <a [ngClass]="{'active': activeTab==1 }" [routerLink]='["/period/"+id + "/faculty/" +facultyId + "/rating"]' href="#">Заповніть онлнай відомості</a>
                <a [ngClass]="{'active': activeTab==2 }" [routerLink]='["/period/"+id + "/faculty/" +facultyId + "/scholarship"]' href="#">Стипендія</a>
            </li>
        </ul>
    </div>

    <div *ngIf="disable" id="sidebar-wrapper-disable" class="disable">

    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <loader [active]="isActive"></loader>
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>