<ng-container *ngIf="!editMode">
    <td [ngClass]="{'child': isChild}">{{student.id}}</td>
    <td [ngClass]="{'child': isChild}">{{student.name}}</td>
    <td [ngClass]="{'child': isChild}">{{student.group.name}}</td>
    <td [ngClass]="{'child': isChild}">{{student.period.name}}</td>
    <td [ngClass]="{'child': isChild}">{{student.rating}}</td>
    <ng-container *ngIf="isRootStudent(student)">
        <td [ngClass]="{'child': isChild}">
            <img [src]="student.img" width="50px">
        </td>
        <td [ngClass]="{'child': isChild}">{{student.isRoot}}</td>
    </ng-container>
    <ng-container *ngIf="!isRootStudent(student)">
        <td [ngClass]="{'child': isChild}"></td>
        <td [ngClass]="{'child': isChild}">{{student.parent.name}}</td>
    </ng-container>
    <td [ngClass]="{'child': isChild}" (click)="changeMode()" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></td>
    <td [ngClass]="{'child': isChild}" (click)="onDeleteStudent()" class="delete"><i class="fa fa-times" aria-hidden="true"></i></td>
</ng-container>
<ng-container *ngIf="editMode">
    <td [ngClass]="{'child': isChild}">{{student.id}}</td>
    <td [ngClass]="{'child': isChild}"><input class="form-control" required minlength="3" maxlength="500" type="text" [(ngModel)]="student.name"/></td>
    <td [ngClass]="{'child': isChild}">{{student.group.name}}</td>
    <td [ngClass]="{'child': isChild}">{{student.period.name}}</td>
    <td [ngClass]="{'child': isChild}">{{student.rating}}</td>

    <ng-container *ngIf="isRootStudent(student)">
        <td [ngClass]="{'child': isChild}">
            <img [src]="student.img" width="50px">
            <input name="img"
                   type="text"
                   class="form-control"
                   id="img"
                   placeholder="Юрл для фотографії"
                   [(ngModel)]="student.img"
            />
        </td>
        <td [ngClass]="{'child': isChild}">{{student.isRoot}}</td>
    </ng-container>
    <ng-container *ngIf="!isRootStudent(student)">
        <td [ngClass]="{'child': isChild}"></td>
        <td [ngClass]="{'child': isChild}">
            <select required="required" [(ngModel)]="student.parent.id" id="parent"
                    name="parent" class="form-control">
                <ng-container *ngFor="let student of studentsRoot">
                    <option value="{{student.id}}">{{student.name}}</option>
                </ng-container>
            </select>
        </td>
    </ng-container>
    <td [ngClass]="{'child': isChild}" (click)="edit()" class="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i></td>
    <td [ngClass]="{'child': isChild}" (click)="onDeleteStudent()" class="delete"><i class="fa fa-times" aria-hidden="true"></i></td>
</ng-container>

<!--<tr  *ngFor="let child of student.children">-->
    <!--<td>{{child.id}}</td>-->
    <!--<td>{{child.name}}</td>-->
    <!--<td>{{child.group.name}}</td>-->
    <!--<td>{{child.period.name}}</td>-->
    <!--<td>{{child.isRoot}}</td>-->
<!--</tr>-->
<loader *ngIf="isActive"
        [active]="isActive">
</loader>