<ng-container *ngIf="!editMode">
    <td>{{faculty.id}}</td>
    <td>{{faculty.name}}</td>
    <td>{{faculty.shortName}}</td>
    <td (click)="changeMode()" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></td>
    <td (click)="onDeleteFaculty()" class="delete"><i class="fa fa-times" aria-hidden="true"></i></td>
</ng-container>
<ng-container *ngIf="editMode">
    <td>{{faculty.id}}</td>
    <td><input class="form-control" required minlength="3" maxlength="500" type="text" [(ngModel)]="faculty.name"/></td>
    <td><input class="form-control" required minlength="3" maxlength="500" type="text" [(ngModel)]="faculty.shortName"/></td>
    <td (click)="edit()" class="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i></td>
    <td (click)="onDeleteFaculty()" class="delete"><i class="fa fa-times" aria-hidden="true"></i></td>
</ng-container>
<loader *ngIf="isActive"
        [active]="isActive">

</loader>